/* Warez tema bulucu */

#wtb #siteler,#wtb #url,#wtb #aciklama{
	margin:20px;
}
#wtb label{
	width:200px;
	display:inline-block;
	color: rgb(218, 78, 33);
	font-weight: bold;
	font-size: 14px;
}
#wtb #sub{
padding-left:300px;
}